/* CKEditor colorbutton default color styles -- List used for colorbutton_styletoattribute module */

span[data-color="#1ABC9C"] {color: #1ABC9C;}
span[data-color="#2ECC71"] {color: #2ECC71;}
span[data-color="#3498DB"] {color: #3498DB;}
span[data-color="#9B59B6"] {color: #9B59B6;}
span[data-color="#4E5F70"] {color: #4E5F70;}
span[data-color="#F1C40F"] {color: #F1C40F;}
span[data-color="#16A085"] {color: #16A085;}
span[data-color="#27AE60"] {color: #27AE60;}
span[data-color="#2980B9"] {color: #2980B9;}
span[data-color="#8E44AD"] {color: #8E44AD;}
span[data-color="#2C3E50"] {color: #2C3E50;}
span[data-color="#F39C12"] {color: #F39C12;}
span[data-color="#E67E22"] {color: #E67E22;}
span[data-color="#E74C3C"] {color: #E74C3C;}
span[data-color="#ECF0F1"] {color: #ECF0F1;}
span[data-color="#95A5A6"] {color: #95A5A6;}
span[data-color="#DDDDDD"] {color: #DDDDDD;}
span[data-color="#FFFFFF"] {color: #FFFFFF;}
span[data-color="#D35400"] {color: #D35400;}
span[data-color="#C0392B"] {color: #C0392B;}
span[data-color="#BDC3C7"] {color: #BDC3C7;}
span[data-color="#7F8C8D"] {color: #7F8C8D;}
span[data-color="#999999"] {color: #999999;}
span[data-color="#000000"] {color: #000000;}
span[data-background-color="#1ABC9C"] {background-color: #1ABC9C;}
span[data-background-color="#2ECC71"] {background-color: #2ECC71;}
span[data-background-color="#3498DB"] {background-color: #3498DB;}
span[data-background-color="#9B59B6"] {background-color: #9B59B6;}
span[data-background-color="#4E5F70"] {background-color: #4E5F70;}
span[data-background-color="#F1C40F"] {background-color: #F1C40F;}
span[data-background-color="#16A085"] {background-color: #16A085;}
span[data-background-color="#27AE60"] {background-color: #27AE60;}
span[data-background-color="#2980B9"] {background-color: #2980B9;}
span[data-background-color="#8E44AD"] {background-color: #8E44AD;}
span[data-background-color="#2C3E50"] {background-color: #2C3E50;}
span[data-background-color="#F39C12"] {background-color: #F39C12;}
span[data-background-color="#E67E22"] {background-color: #E67E22;}
span[data-background-color="#E74C3C"] {background-color: #E74C3C;}
span[data-background-color="#ECF0F1"] {background-color: #ECF0F1;}
span[data-background-color="#95A5A6"] {background-color: #95A5A6;}
span[data-background-color="#DDDDDD"] {background-color: #DDDDDD;}
span[data-background-color="#FFFFFF"] {background-color: #FFFFFF;}
span[data-background-color="#D35400"] {background-color: #D35400;}
span[data-background-color="#C0392B"] {background-color: #C0392B;}
span[data-background-color="#BDC3C7"] {background-color: #BDC3C7;}
span[data-background-color="#7F8C8D"] {background-color: #7F8C8D;}
span[data-background-color="#999999"] {background-color: #999999;}
span[data-background-color="#000000"] {background-color: #000000;}